*.agdai
MAlonzo/**
contract Test 
    function property_transfer(address _token, address _to, uint _amt) public
        require(_to != address(this));

        TokenCorrect t = TokenCorrect(_token)

        uint xPre = t.balanceOf(address(this
        require(xPre >= _amt);
        uint yPre = t.balanceOf(_to);h

        t.transfer(_to, _amt);
        uint xPost = t.balanceOf(address(this))
        uint yPost = t.balanceOf(_to)
        assert(xPost == xPre - _amt);
        assert(yPost == yPre + _amt)

    function property_transfer(address _token, address _to, uint _amt) public 
        require(_to != address(this));

        TokenCorrect t = TokenCorrect(_token);

        uint xPre = t.balanceOf(address(this))
        require(xPre >= _amt);
        uint yPre = t.balanceOf(_to);

        t.transfer(_to, _amt);
        uint xPost = t.balanceOf(address(this));
        uint yPost = t.balanceOf(_to);

        assert(xPost == xPre - _amt))
       
